<div class="mt-0">
    <span class="block text-base text-center text-indigo-600
          font-semibold tracking-wide uppercase mt-0">Values to be taken into account for physiological
        calculations</span>
    <h3 class="mt-4 text-lg leading-6 font-medium text-gray-900">
        Body mass index
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        To calculate the body mass index, <span class="text-indigo-600">weight</span> and <span
            class="text-indigo-600">height</span> must have been entered.
    </p>
</div>

<div class="mt-8">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Oseous mass
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        To calculate the oseus mass, <span class="text-indigo-600">weight</span> must have been entered.
    </p>
</div>

<div class="mt-8">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Muscle mass
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        To calculate the muscle mass, <span class="text-indigo-600">weight</span>, <span class="text-indigo-600">fat
            weight</span>, <span class="text-indigo-600">bone weight</span> and <span class="text-indigo-600">residual
            weight</span> must have been entered.
    </p>
</div>

<div class="mt-8">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Residual mass
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        To calculate the Residual mass, <span class="text-indigo-600">weight</span> must have been entered.
    </p>
</div>

<div class="mt-8">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Fat mass
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        To calculate the Fat mass, <span class="text-indigo-600">weight</span> and <span class="text-indigo-600"> fat
            percentage</span> must have been entered.
    </p>
</div>

<div class="mt-8">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Fat percentage
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
        To calculate the Fat percentage, <span class="text-indigo-600">body mass index</span> and <span class="text-indigo-600">age</span> must have been entered.
    </p>
</div>