<main class="min-h-screen bg-cover bg-top sm:bg-top"
    style="background-image:
    url('https://c.pxhere.com/photos/91/c6/crossfit_sports_fitness_training_exercise_athlete_young_healthy-1330495.jpg!d');">
    <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6
        sm:py-24 lg:px-8 lg:py-48">
        <p class="text-4xl font-semibold text-blue-700
            uppercase tracking-wide">Calculations have been made</p>
        <h1 class="mt-2 text-4xl font-extrabold text-blue-700
            tracking-tight sm:text-4xl text-opacity-70">To view the new changes, <br> please login again</h1>
        <div class="mt-6">
            <a href="/home" class="inline-flex items-center px-4 py-2 border
                border-transparent text-sm font-bold rounded-md
                text-white bg-indigo-600 bg-opacity-75
                sm:bg-opacity-25 sm:hover:bg-opacity-50">
                If you want to continue doing calculations or interacting with the application, go back to home.
            </a>
        </div>
    </div>
</main>