<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <span class="block text-base text-center text-indigo-600
          font-semibold tracking-wide uppercase">Information on fat porcentage values</span>
    <div class="px-4 py-5 sm:px-6">
        <div class="mt-5 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">
                <div class="flex justify-center flex-col">
                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600 fond-bold">Classification (20-30 years)</span>
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600">FP (%)</span>
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600">Risk</span>
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Low
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            -11%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Decrease
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Normal
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            11-13%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Average
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            High
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            +22%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Increased
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Very high
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            +23%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Severe
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600 fond-bold">Classification (30-50 years)</span>	
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600">FP (%)</span>
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                           <span class="text-indigo-600">Risk</span>
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Low
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            -12%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Decrease
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Normal
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            15-21%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Average
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            High
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            +23%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Increased
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Very high
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            +25%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Severe
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600 fond-bold">Classification (50-59 years)</span>	
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600">FP (%)</span>
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                           <span class="text-indigo-600">Risk</span>
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Low
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            -15%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Decrease
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Normal
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            18-24%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Average
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            High
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            +25%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Increased
                        </dt>
                    </div>

                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Very high
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            +27%
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Severe
                        </dt>
                    </div>
                    

                </div>
            </dl>
        </div>
    </div>
</div>