<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <span class="block text-base text-center text-indigo-600
          font-semibold tracking-wide uppercase">Information on fat Residual values</span>
    <div class="px-4 py-5 sm:px-6">
        <div class="mt-5 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">
                <div class="flex justify-center flex-col">
                    <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600 fond-bold">Fat mass</span>
                            {{!-- {{boneMass}} --}}
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600 fond-bold">Residual mass</span>
                            {{!-- {{residualMass}} --}}
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            <span class="text-indigo-600 fond-bold">Boone mass</span>
                            {{!-- {{residualMass}} --}}
                        </dt>
                    </div>

                     <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm font-medium text-gray-500">
                            Adipose tissue 
                        </dt>
                        <dt class="text-sm font-medium text-gray-500">
                            Weight of organs
                        </dt>

                        <dt class="text-sm font-medium text-gray-500">
                            Weight of bone mass
                        </dt>
                    </div>

                </div>
            </dl>
        </div>
    </div>
</div>